In [284]:
import pandas as pd
import numpy as np

In [285]:
source = "actor_data.txt"
data = pd.read_table(source, sep='\t')

In [286]:
df = pd.DataFrame(data)

In [287]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11782665 entries, 0 to 11782664
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 539.4+ MB

In [288]:
df

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0053137,tt0072308,tt0050419,tt0031983"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0071877,tt0038355,tt0037382,tt0117057"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0056404,tt0054452,tt0049189,tt0057345"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0078723,tt0077975,tt0080455,tt0072562"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0050976,tt0050986,tt0060827"
...,...,...,...,...,...,...
11782660,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt14069590,tt2455546,tt11657662"
11782661,nm9993716,Essias Loberg,\N,\N,NaN,\N
11782662,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
11782663,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
11782664,nm9993719,Andre Hill,\N,\N,NaN,\N

In [289]:
type(df.iloc[11782660][0])

str

In [290]:
# drop rows with filter (similar like filtering with iloc/loc etc...)
filter_ = df["birthYear"] == '\\N'
df.drop(df[filter_].index, inplace=True)

df.drop(columns=["primaryProfession", "knownForTitles"], inplace=True)

In [291]:
df["birthYear"] = df["birthYear"].astype(int)

In [292]:
filter_ = df["birthYear"] >= 2004 
df.drop(df[filter_].index, inplace=True)

filter_ = df["birthYear"] < 1930
df.drop(df[filter_].index, inplace=True)

In [293]:
df.set_index("nconst", inplace=True)

In [294]:
df["deathYear"] = np.where(df["deathYear"] == "\\N", 2022, df["deathYear"])
df["deathYear"] = df["deathYear"].astype(int)

In [295]:
df["currentAge"] = df["deathYear"] - df["birthYear"]

In [296]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 419399 entries, nm0000003 to nm9993526
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   primaryName  419399 non-null  object
 1   birthYear    419399 non-null  int32
 2   deathYear    419399 non-null  int32
 3   currentAge   419399 non-null  int32
dtypes: int32(3), object(1)
memory usage: 11.2+ MB

In [297]:
df

                  primaryName  birthYear  deathYear  currentAge
nconst
nm0000003     Brigitte Bardot       1934       2022          88
nm0000004        John Belushi       1949       1982          33
nm0000015          James Dean       1931       1955          24
nm0000029   Margaux Hemingway       1954       1996          42
nm0000035        James Horner       1953       2015          62
...                       ...        ...        ...         ...
nm9992971    Shamica Anderson       1988       2022          34
nm9993199       Denis Nurulin       1997       2022          25
nm9993379     Fanny Hozleiter       1988       2022          34
nm9993426  Nick 'Duffy' Fudge       1989       2018          29
nm9993526       Ben Ray Lujan       1972       2022          50

[419399 rows x 4 columns]